server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:      #configs que permitem acessar rotas pelo nome do serviço mais rota.
              enabled: true
              lower-case-service-id: true
          routes:       # configs de rotas mais amigáveis, que não expõem o nome do serviço
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/user/**
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka}
